### Task - Function

### **`Problem-1:`** Write a Python function that takes a list and returns a new list with unique elements of the first list.

**Exercise 1:**

Input:

```bash
[1,2,3,3,3,3,4,5]
```

Output:

```bash
[1, 2, 3, 4, 5]
```

In [10]:
def fn(L):
    new_list=[]
    for i in L:
        if i not in new_list:
            new_list.append(i)
    return new_list

fn([1,2,3,32,1,2,4,6,5,433,2,43,5,6])

[1, 2, 3, 32, 4, 6, 5, 433, 43]

### **`Problem-2:`** Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

**Example 1:**

Input:
```bash
green-red-yellow-black-white
```

Output:
```bash
black-green-red-white-yellow
```

In [13]:
def fn(string):
    L=string.split('-')
    return '-'.join(sorted(L))

In [15]:
fn('green-red-yellow-black-white')

'black-green-red-white-yellow'

### **`Problem 3:`** Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

```
Sample String : 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
Expected Output :
No. of Upper case characters :  9
No. of Lower case Characters :  47
```

In [19]:
def fn(string):
    upper=0;lower=0
    for i in string:
        if i.isupper():
            upper+=1
        if i.islower():
            lower+=1
    return [upper,lower]

In [21]:
u,l=fn('CampusX is an Online Mentorship Program fOr EnginEering studentS.')
print(u,l)

9 47

### **`Problem 4:`** Write a Python program to print the even numbers from a given list.
```
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Expected Result : [2, 4, 6, 8]
```

In [30]:
def fn(L):
    even=[]
    for i in L:
        if i&1==0:
            even.append(i)
    return even
fn([1,2,3,4,5,2,34,4,67,8])

[2, 4, 2, 34, 4, 8]

### **`Problem 5:`** Write a Python function to check whether a number is perfect or not.

A Perfect number is a number that is half the sum of all of its positive divisors (including itself).

Example :

```
The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6.
Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6.

The next perfect number is 28 = 1 + 2 + 4 + 7 + 14. This is followed by the perfect numbers 496 and 8128.
```

In [33]:
def fn(n):
    sum=0
    for i in range(1,n):
        if n%i==0:
            sum+=i
    if sum==n:
        return "perfect"
    return "Not perfect"

In [44]:
fn(496)

'perfect'

### **`Problem-6:`** Write a Python function to concatenate any no of dictionaries to create a new one.

```
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [68]:
def fn(*args):
    for i in args:
        args[0].update(i)
    return args[0]
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
fn(dic1,dic2,dic3)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

`Problem-7` Write a python function that accepts a string as input and returns the word with most occurence.

```
Input:
hello how are you i am fine thank you
```

```
Output
you -> 2
```

In [99]:
def fn(string):
    L=string.split()
    max_value=None
    freq=0
    for i in L:
        if L.count(i)>freq:
            freq=L.count(i)
            max_value=i
    print(max_value,freq)

In [101]:
fn("hello how are you i am fine thank you")

you 2

`Problem-8` Write a python function that receives a list of integers and prints out a histogram of bin size 10

```
Input:
[13,42,15,37,22,39,41,50]
```

```
Output:
{11-20:2,21-30:1,31-40:2,41-50:3}
```

In [17]:
def fn(l):
    d={}
    mini=min(l)//10*10
    maxi=max(l)//10*10
    for i in range(mini,maxi,10):
        high=10+i-1
        count=0
        for k in l:
            if k>=i and k<=high:
                count+=1
        d[str(i)+"-"+str(high)]=count
    return d
        
        
fn([13,42,15,37,22,39,41,50])

{'10-19': 2, '20-29': 1, '30-39': 2, '40-49': 2}

`Problem-9` Write a python function that accepts a list of 2D co-ordinates and a query point, and then finds the the co-ordinate which is closest in terms of distance from the query point.

```
List of Coordinates
[(1,1),(2,2),(3,3),(4,4)]
Query Point
(0,0)
```

```
Output
Nearest to (0,0) is (1,1)
```

In [65]:
def fn(l,q):
    dist=[]
    for i in l:
        dist.append(((i[0]-q[0])**2+(i[1]-q[1])**2)**0.5)
    dist=list(enumerate(dist))
    dist.sort(key=lambda x:x[1])
    print(l[dist[0][0]])
 
fn( [(-3, -4), (2, -1), (-1, 5), (3, 3)],(0,0))

(2, -1)

`Problem-10`:Write a python program that receives a list of strings and performs bag of word operation on those strings

In [91]:
def fn(l):
    s=set()
    for i in L:
        s.update(i.split())
    print(s)
    result=[]
    for i in l:
        temp=[]
        for j in s:
            temp.append(i.count(j))
        result.append(temp)
    print(result)
        
L = [
    'cat mat rat cat',
     'sat bat fat cat rat',
     'pat cat mat rat'
]
fn(L)

{'fat', 'rat', 'pat', 'cat', 'sat', 'mat', 'bat'}
[[0, 1, 0, 2, 0, 1, 0], [1, 1, 0, 1, 1, 0, 1], [0, 1, 1, 1, 0, 1, 0]]

### `Problem 11:` Write a Python program to add three given lists using Python map and lambda.

In [93]:
L1 = [1,2,3]
L2 = [4,5,6]
L3 = [7,8,9]
list(map(lambda x,y,z:x+y+z,L1,L2,L3))

[12, 15, 18]

### `Problem-12:`Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.
`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,2,9,64,625,-]
```

In [95]:
def fn(l):
    result=list(map(lambda x:x[1]**x[0],list(enumerate(l))))
    print(result)

fn([1,2,3,4,5,6])

[1, 2, 9, 64, 625, 7776]

### `Problem-13` Using filter() and list() functions and .lower() method filter all the vowels in a given string.

In [106]:
str1="FIFA world cup in 2022 will take place in Qatar"
list(filter(lambda x:x.lower() in "aeiou",str1))

['I', 'A', 'o', 'u', 'i', 'i', 'a', 'e', 'a', 'e', 'i', 'a', 'a']

### `Problem-14`: Use reduce to convert a 2D list to 1D

In [114]:
import functools
ini_list = [[1, 2, 3],
            [3, 6, 7],
            [7, 5, 4]]
list(functools.reduce(lambda x,y:x+y,ini_list))

[1, 2, 3, 3, 6, 7, 7, 5, 4]

### `Problem 15`- A dictionary contains following information about 5 employees:
- First name
- Last name
- Age
- Grade(Skilled,Semi-skilled,Highly skilled)<br>
Write a program using map/filter/reduce to a list of employees(first name + last name) who are highly skilled

In [120]:
# Write code here
employees = [
    {
        'fname':'Nitish',
        'lname':'Singh',
        'age' : 33,
        'grade':'skilled'
    },
    {
        'fname':'Ankit',
        'lname':'Verma',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'Neha',
        'lname':'Singh',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Anurag',
        'lname':'Kumar',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Abhinav',
        'lname':'Sharma',
        'age' : 37,
        'grade':'highly-skilled'
    }
]

In [139]:
def fn(emp):
    print(list(map(lambda x:x['fname']+" "+x['lname'] ,filter(lambda x:x['grade']=="highly-skilled",emp))))
fn(employees)

['Neha Singh', 'Abhinav Sharma']